<!DOCTYPE html>
<html>
<head>
<title>Verify OTP</title>
<link rel="stylesheet" href="/static/otp.css">
</head>

<body>

<div class="container">

    <h1>🔐 Verify OTP</h1>

    <p>Enter the 6-digit code sent to your email</p>

    {% if error %}

    <p style="
    color:#ffb3b3;
    font-weight:bold;
    margin-top:15px;
    font-size:18px;
    animation:shake 0.3s;
    ">
    {{ error }}
    </p>

    {% endif %}

    <form method="POST" id="otpForm">

        <!-- hidden final otp -->
        <input type="hidden" name="otp" id="finalOtp">

        <!-- OTP BOXES -->
        <div class="otp-boxes">

            <input type="text" maxlength="1" class="otp">
            <input type="text" maxlength="1" class="otp">
            <input type="text" maxlength="1" class="otp">
            <input type="text" maxlength="1" class="otp">
            <input type="text" maxlength="1" class="otp">
            <input type="text" maxlength="1" class="otp">

        </div>

        <button type="submit">
            Verify
        </button>

    </form>

    <p id="timerText">
        Resend OTP in 30s
    </p>

    <button
    id="resendBtn"
    disabled
    onclick="window.location.href='/resend_otp'">

    Resend OTP

    </button>

</div>

<script>

// OTP INPUTS
const inputs = document.querySelectorAll(".otp");

inputs.forEach((input, index)=>{

    input.addEventListener("input", ()=>{

        // move next
        if(input.value && index < inputs.length-1){
            inputs[index+1].focus();
        }

        updateOtp();
    });

    input.addEventListener("keydown", (e)=>{

        // backspace move
        if(e.key === "Backspace" && !input.value && index > 0){
            inputs[index-1].focus();
        }

    });

});

// combine otp
function updateOtp(){

    let otp = "";

    inputs.forEach(i=>{
        otp += i.value;
    });

    document.getElementById("finalOtp").value = otp;
}

// RESEND TIMER
let timeLeft = 30;

let timerText =
document.getElementById("timerText");

let btn =
document.getElementById("resendBtn");

let countdown = setInterval(() => {

    timeLeft--;

    timerText.innerText =
    `Resend OTP in ${timeLeft}s`;

    if(timeLeft <= 0){

        clearInterval(countdown);

        timerText.innerText =
        "You can resend OTP now";

        btn.disabled = false;
    }

}, 1000);

</script>

</body>
</html>